name: CI

on: [push]

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2 # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
        with:
          persist-credentials: false

      - name: Build and publish Docker image
        if: github.ref == 'refs/heads/master'
        uses: elgohr/Publish-Docker-Github-Action@master
        env:
          HADES2_FAMILY_VERSION: 6.7.1
          HADES2_VERSION: 6.7.1.1
        with:
          name: gridsuite/java-hades2
          username: gridsuiteci
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          buildargs: HADES2_FAMILY_VERSION,HADES2_VERSION
          tags: "latest"
